body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-image: url("../images/bg-intro-desktop.png");
  background-color: #ff7a7a;
  background-color: hsl(0, 100%, 74%);
}

h1 {
  color: white;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 30px;
}

p {
  color: white;
}

a, a:hover {
  color: #ff7a7a;
  color: hsl(0, 100%, 74%);
}

.container {
  height: 100vh;
}

.row {
  height: 100vh;
}

.col-6 {
  height: 100%;
}

.add-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: auto;
  padding: 30px 0;
}

.attribution a {
  color: #3A4C98;
  color: hsl(228, 45%, 44%);
}

.agreement {
  color: #b9b6d3;
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.btn {
  background-color: #38cc8c;
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  padding: 12px 0;
  box-shadow: 0 4px #3EB27F;
}

.btn:hover {
  background-color: #38cc8c;
  background-color: hsla(154, 59%, 51%, 50%);
  color: white;
}

.add-padding {
  padding: 25px 40px 0 95px;
}

.top-card {
  background-color: #6055a5;
  background-color: hsl(248, 32%, 49%);
  color: white;
  text-align: center;
  padding: 15px 0;
  margin: 15px 65px 20px 5px;
  border-radius: 10px;
  box-shadow: 0 8px #D86665;
}

.bottom-card {
  margin-right: 65px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: 0 8px #D86665;
}

.form-text {
  text-align: right;
  font-size: 12px;
  color: #ff7a7a;
  color: hsl(0, 100%, 74%);
}

.card-body {
  padding: 30px;
}

.add-padding-left-right {
  padding: 0 50px 0 20px;
}

.form-group {
  position: relative;
}
.error-icon {
  position: absolute;
  right: 25px;
  top: 12px;
}


@media (min-width: 576px) {


}
